In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset/train.csv")
df.shape

(1460, 81)

group sa zvacsa aplikuje na stlpce, idealne take, kde sa opakuju data - teda nase skupiny

In [4]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [6]:
df.MSZoning.value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [14]:
grouped = df.groupby("MSZoning") #vrateny generator priradim do premennej grouped

In [9]:
list(df.groupby("MSZoning"))[0] #vytvori mi list tuples, prvy prvok:

('C (all)',
         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
 30      31          70  C (all)         50.0     8500   Pave  Pave      Reg
 88      89          50  C (all)        105.0     8470   Pave   NaN      IR1
 93      94         190  C (all)         60.0     7200   Pave   NaN      Reg
 495    496          30  C (all)         60.0     7879   Pave   NaN      Reg
 557    558          50  C (all)         60.0    11040   Pave   NaN      Reg
 711    712          50  C (all)         66.0     8712   Pave  Pave      Reg
 812    813          20  C (all)         66.0     8712   Grvl   NaN      Reg
 916    917          20  C (all)         50.0     9000   Pave   NaN      Reg
 1061  1062          30  C (all)        120.0    18000   Grvl   NaN      Reg
 1279  1280          50  C (all)         60.0     7500   Pave   NaN      Reg

      LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
 30           Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
 88           Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
 93           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 495          Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
 557          Low    AllPub  ...        0    NaN    NaN         NaN       0
 711          HLS    AllPub  ...        0    NaN    NaN         NaN       0
 812          Bnk    AllPub  ...        0    NaN    NaN        Shed      54
 916          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 1061         Low    AllPub  ...        0    NaN    NaN        Shed     560
 1279         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

      MoSold YrSold  SaleType  SaleCondition  SalePrice
 30        7   2008        WD         Normal      40000
 88       10   2009     ConLD        Abnorml      85000
 93       11   2007        WD         Normal     133900
 495      11   2009        WD        Abnorml      34900
 557       9   2006       COD         Normal     108000
 711       1   2010        WD        Abnorml     102776
 812       6   2010        WD         Alloca      55993
 916      10   2006        WD        Abnorml      35311
 1061      8   2008     ConLD         Normal      81000
 1279      4   2010       COD        Abnorml      68400

 [10 rows x 81 columns])

In [11]:
df.groupby("MSZoning").mean() # zavola na rozoznane skupiny v mszoning funkciu mean(), ktora vrati priemerne hodnoty stlpcov pre riadky patriace do tej ktorej grupy. Vracia DATAFRAME

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),605.200000,56.000000,69.700000,9501.300000,3.900000,4.600000,1924.100000,1958.200000,0.000000,222.800000,...,9.800000,64.400000,82.500000,0.000000,9.900000,0.000000,61.400000,7.700000,2008.300000,74528.000000
FV,707.030769,90.461538,59.491228,6638.861538,7.200000,5.030769,2004.507692,2004.830769,140.806452,327.892308,...,57.276923,103.476923,0.000000,0.000000,3.046154,0.000000,0.000000,6.276923,2007.846154,214014.061538
RH,860.437500,80.312500,58.923077,7380.062500,5.250000,5.562500,1945.687500,1971.937500,57.812500,312.750000,...,67.625000,28.250000,58.687500,0.000000,0.000000,0.000000,0.000000,7.500000,2007.500000,131558.375000
RL,737.277150,49.374457,74.680043,11571.814075,6.190269,5.535187,1975.461338,1985.659427,112.260908,492.514335,...,105.133797,45.141616,16.892268,4.192007,16.841877,3.499566,47.749783,6.317116,2007.824500,191004.994787
RM,697.926606,84.931193,52.366834,6379.775229,5.454128,5.995413,1943.256881,1976.894495,56.169725,239.839450,...,53.600917,38.275229,49.752294,0.701835,10.582569,0.000000,36.330275,6.211009,2007.761468,126316.830275

In [12]:
df.groupby("MSZoning").mean().loc[:, "SalePrice"]

MSZoning
C (all)     74528.000000
FV         214014.061538
RH         131558.375000
RL         191004.994787
RM         126316.830275
Name: SalePrice, dtype: float64

In [15]:
grouped.groups #vrati dict kde kluc je gropu a value su indexy

{'C (all)': [30, 88, 93, 495, 557, 711, 812, 916, 1061, 1279], 'FV': [47, 56, 87, 105, 115, 158, 180, 212, 240, 256, 270, 281, 285, 297, 317, 377, 381, 399, 409, 412, 453, 460, 501, 507, 525, 549, 578, 603, 623, 641, 644, 650, 686, 687, 699, 755, 758, 762, 824, 829, 831, 864, 875, 885, 914, 959, 973, 975, 977, 989, 1087, 1089, 1091, 1172, 1191, 1217, 1246, 1265, 1317, 1358, 1364, 1365, 1374, 1442, 1454], 'RH': [341, 383, 543, 635, 671, 681, 778, 840, 913, 951, 955, 1030, 1206, 1234, 1264, 1326], 'RL': [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 53, 54, 55, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 76, 78, 80, 82, 83, 84, 85, 86, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 109, 110, 111, 112, 113, 114, 116, 117, 118, 119, 120, 122, 123, 124, 126, 128, 129, 130, ...], 'RM': [8, 15, 21, 23, 29, 48, 51, 52, 61, 63, 68, 74, 75, 77, 79, 81, 104, 106, 107, 108, 121, 125, 127, 144, 145, 146, 149, 154, 164, 170, 179, 183, 185, 193, 198, 200, 203, 204, 217, 225, 227, 232, 235, 241, 242, 246, 251, 259, 263, 264, 268, 296, 304, 307, 312, 314, 323, 325, 329, 333, 344, 353, 357, 363, 365, 398, 413, 420, 425, 430, 431, 432, 434, 436, 437, 442, 448, 449, 450, 456, 458, 465, 472, 479, 482, 483, 489, 490, 494, 500, 505, 508, 522, 531, 548, 551, 555, 579, 583, 584, ...]}

In [16]:
grouped.get_group("RH")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
341,342,20,RH,60.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,82000
383,384,45,RH,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,76000
543,544,120,RH,34.0,4058,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,133000
635,636,190,RH,60.0,10896,Pave,Pave,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Abnorml,200000
671,672,70,RH,54.0,6629,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,103600
681,682,50,RH,55.0,4500,Pave,Pave,IR2,Bnk,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Abnorml,159434
778,779,90,RH,60.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2007,WD,Normal,144000
840,841,70,RH,NaN,12155,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,140000
913,914,90,RH,82.0,6270,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,145000
951,952,20,RH,60.0,7800,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2006,WD,Abnorml,119900
955,956,90,RH,82.0,7136,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,145000
1030,1031,190,RH,NaN,7082,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,160000
1206,1207,20,RH,NaN,8900,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,11,2006,WD,Normal,107000
1234,1235,70,RH,55.0,8525,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,11,2008,WD,Abnorml,130000
1264,1265,120,RH,34.0,4060,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2008,COD,Abnorml,181000
1326,1327,30,RH,70.0,4270,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,79000

In [17]:
df.Alley.value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [19]:
df.groupby(["MSZoning", "Alley"]).mean()

                        Id  MSSubClass  LotFrontage       LotArea  \
MSZoning Alley
C (all)  Pave   371.500000   60.000000    58.000000   8606.000000
FV       Pave   736.375000  125.833333    39.166667   4166.666667
RH       Pave   659.000000  120.000000    57.500000   7698.000000
RL       Grvl   889.928571   62.857143    57.642857  10003.714286
         Pave   708.166667   57.500000    58.500000  10286.666667
RM       Grvl   676.000000   64.305556    63.484848   8515.916667
         Pave   828.428571   70.000000    59.285714   7107.142857

                OverallQual  OverallCond    YearBuilt  YearRemodAdd  \
MSZoning Alley
C (all)  Pave      4.000000     5.500000  1910.000000   1950.000000
FV       Pave      6.916667     5.000000  2003.708333   2004.125000
RH       Pave      5.500000     6.000000  1923.000000   1997.500000
RL       Grvl      4.500000     6.000000  1920.214286   1972.285714
         Pave      5.833333     6.000000  1924.500000   1971.000000
RM       Grvl      5.444444     6.361111  1919.555556   1972.611111
         Pave      6.142857     6.285714  1914.142857   1989.285714

                MasVnrArea  BsmtFinSF1  ...  WoodDeckSF  OpenPorchSF  \
MSZoning Alley                          ...
C (all)  Pave     0.000000    0.000000  ...   34.000000    27.000000
FV       Pave   231.608696  288.625000  ...   30.458333   106.625000
RH       Pave     0.000000  219.000000  ...    0.000000    55.000000
RL       Grvl     0.000000  274.500000  ...   93.428571    40.214286
         Pave     0.000000  157.666667  ...    0.000000    26.666667
RM       Grvl    24.305556   93.472222  ...   33.833333    57.444444
         Pave     0.000000  180.857143  ...   25.857143    32.428571

                EnclosedPorch  3SsnPorch  ScreenPorch  PoolArea    MiscVal  \
MSZoning Alley
C (all)  Pave      135.000000        0.0     0.000000       0.0   0.000000
FV       Pave        0.000000        0.0     8.250000       0.0   0.000000
RH       Pave       28.000000        0.0     0.000000       0.0   0.000000
RL       Grvl       58.428571        0.0     0.000000       0.0  92.857143
         Pave      106.000000        0.0    36.666667       0.0   0.000000
RM       Grvl       81.527778        0.0    13.333333       0.0  44.444444
         Pave      163.285714        0.0     0.000000       0.0   0.000000

                  MoSold       YrSold      SalePrice
MSZoning Alley
C (all)  Pave   4.000000  2009.000000   71388.000000
FV       Pave   6.000000  2007.458333  175972.291667
RH       Pave   5.000000  2008.000000  179717.000000
RL       Grvl   5.928571  2007.714286  113760.714286
         Pave   6.333333  2008.333333  176333.333333
RM       Grvl   6.388889  2007.638889  125508.444444
         Pave   6.428571  2008.142857  157782.714286

[7 rows x 38 columns]

Na rozdiel od SQL pandas a jeho groupby nezachovava vo vratenom DF aj grupovane stlpce, ale stanu sa z nich indexy.

In [24]:
temp = df.groupby(["MSZoning", "Alley"]).count()

In [25]:
temp.index #grupovane stlpce sa stali indexami vo vratenom DF

MultiIndex([('C (all)', 'Pave'),
            (     'FV', 'Pave'),
            (     'RH', 'Pave'),
            (     'RL', 'Grvl'),
            (     'RL', 'Pave'),
            (     'RM', 'Grvl'),
            (     'RM', 'Pave')],
           names=['MSZoning', 'Alley'])

Ak chceme zachovat v DF aj povodne stlpce, na zaklade ktoych sme generovali grupy, pouzijem parameter __as_index = False__

In [26]:
temp_ai = df.groupby(["MSZoning", "Alley"], as_index=False).count()

In [28]:
temp_ai

,MSZoning,Alley,Id,MSSubClass,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,C (all),Pave,2,2,2,2,2,2,2,2,...,2,0,1,0,2,2,2,2,2,2
1,FV,Pave,24,24,24,24,24,24,24,24,...,24,0,0,0,24,24,24,24,24,24
2,RH,Pave,2,2,2,2,2,2,2,2,...,2,0,0,0,2,2,2,2,2,2
3,RL,Grvl,14,14,14,14,14,14,14,14,...,14,0,3,2,14,14,14,14,14,14
4,RL,Pave,6,6,4,6,6,6,6,6,...,6,0,2,0,6,6,6,6,6,6
5,RM,Grvl,36,36,33,36,36,36,36,36,...,36,0,11,2,36,36,36,36,36,36
6,RM,Pave,7,7,7,7,7,7,7,7,...,7,0,1,0,7,7,7,7,7,7

By default groupby nevracia zoradeny DF. Toto sa da nastavit parametrom sort=True

In [31]:
grouped = df.groupby(["MSZoning"])

In [30]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

priklad: chcem spocitat plochu ktoru zabera dom so zahradkou

In [39]:
def total_area(group_df): #v tomto pripade posiela groupby funkcia celu grupu, preto ako pram mojej funcie bude grupa (meno je na mne) 
    return (group_df.LotFrontage + group_df.LotArea).sum() #vraciam to ako hodnotu funkcie sum(), pretoze bez toho by som dostal ako vysledo pandas series, nie celkovu sumu

In [38]:
grouped.apply(total_area) #vrati sa to ako pandas series

MSZoning
C (all)       95710.0
FV           401857.0
RH            90710.0
RL         10144782.0
RM          1303061.0
dtype: float64

In [42]:
grouped.apply(total_area).to_frame() #vysledok premenim na DF

                   0
MSZoning
C (all)      95710.0
FV          401857.0
RH           90710.0
RL        10144782.0
RM         1303061.0

ak chceme a aby funkcia groupby vratila viacero stlpcov, je mozne dat do returnu pd.Series a nasledne pole hodnot, ktore chceme vratit

In [49]:
def total_area(group_df): 
    return pd.Series([(group_df.LotFrontage + group_df.LotArea).sum() , group_df.LotArea.mean()], index=["Sum", "LotArea Mean"]) #napriklad chcem vratit total area ale aj priemer lotArea.

In [50]:
grouped.apply(total_area)

                 Sum  LotArea Mean
MSZoning
C (all)      95710.0   9501.300000
FV          401857.0   6638.861538
RH           90710.0   7380.062500
RL        10144782.0  11571.814075
RM         1303061.0   6379.775229

da sa ten zapis vyjadrit aj pomocov LAMBDA:

In [51]:
grouped.apply(lambda group_df: pd.Series([(group_df.LotFrontage + group_df.LotArea).sum() , group_df.LotArea.mean()], index=["Sum", "LotArea Mean"]))

                 Sum  LotArea Mean
MSZoning
C (all)      95710.0   9501.300000
FV          401857.0   6638.861538
RH           90710.0   7380.062500
RL        10144782.0  11571.814075
RM         1303061.0   6379.775229